
// margin-top:10 ~ 55px;
@for $h from 2 through 15 {
  .mt-#{$h * 5} {
    margin-top: $h * 5px !important;
  }
}
// margin-bottom:10 ~ 55px;
@for $h from 2 through 11 {
  .mb-#{$h * 5} {
    margin-bottom: $h * 5px !important;
  }
}
// margin-right:10 ~ 55px;
@for $h from 2 through 11 {
  .mr-#{$h * 5} {
    margin-right: $h * 5px !important;
  }
}
// margin-left:10 ~ 55px;
@for $h from 2 through 11 {
    .ml-#{$h * 5} {
      margin-left: $h * 5px !important;
    }
}
// padding-top:10 ~ 55px;
@for $h from 2 through 11 {
  .pt-#{$h * 5} {
    padding-top: $h * 5px !important;
  }
}
// padding-bottom:10 ~ 55px;
@for $h from 2 through 11 {
  .pb-#{$h * 5} {
    padding-bottom: $h * 5px !important;
  }
}

// padding:10 ~ 55px;
@for $h from 2 through 11 {
.p-#{$h * 5} {
  padding: $h * 5px !important;
}
}
// font-size:1~50px;
@for $i from 1 through 50 {
  .fs-#{$i} {
    font-size: $i * 1px !important;
  }
}