<template>
   <button type="button" class="btn btn-primary" @click="add">{{ example.a1 }}</button>

   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<p>
  {{ t("a.a1") }}
   <span>aaaaaaaa</span>
</p>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useExampleStore } from '../store/exampleStore/exampleStore';
const example = useExampleStore();
const {add} = example;
const { t } = useI18n();

</script>


<style scoped lang="scss">
p{
   color:blue;
   
   span{
      color: red;
   }
}

</style>

